<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @lecture.user %>
</p>

<p>
  <strong>Course:</strong>
  <%= @lecture.course %>
</p>

<p>
  <strong>Date:</strong>
  <%= @lecture.date %>
</p>

<p>
  <strong>File name:</strong>
  <%= @lecture.file_name %>
</p>

<%= link_to 'Edit', edit_lecture_path(@lecture) %> |
<%= link_to 'Back', lectures_path %>
