<h1>New Register</h1>

<%= form_for @user do |f| %>
  <%= f.label :fullname %>
  <%= f.text_field :fullname %>
  <%= f.label :username %>
  <%= f.text_field :username %>
  <%= f.label :fileupload %>
  <%= f.file_field :fileupload %>
  <%= f.submit %>
<% end %>

<%= link_to 'Back', registers_path %>
