<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :full_name %>
    <%= form.text_field :full_name, id: :user_full_name %>
  </div>

  <div class="field">
    <%= form.label :charity_name %>
    <%= form.text_field :charity_name, id: :user_charity_name %>
  </div>

  <div class="field">
    <%= form.label :charity_url %>
    <%= form.text_field :charity_url, id: :user_charity_url %>
  </div>

  <div class="field">
    <%= form.label :donate_amount %>
    <%= form.text_field :donate_amount, id: :user_donate_amount %>
  </div>

  <div class="field">
    <%= form.label :lectures_id %>
    <%= form.text_field :lectures_id, id: :user_lectures_id %>
  </div>

  <div class="field">
    <%= form.label :events_id %>
    <%= form.text_field :events_id, id: :user_events_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
