<h1>New Registration</h1>

<%= form_for @registration, url: {action: "create"} do |f| %>
  <%= f.label :full_name %>
  <%= f.text_field :full_name %>
  <%= f.label :user_name %>
  <%= f.text_field :user_name %>
  <%= f.label :file_upload %>
  <%= f.file_field :file_upload %>
  <%= f.submit %>
<% end %>

<%= link_to 'Back', registrations_path %>
