<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @course.location %>
</p>

<p>
  <strong>Lectures:</strong>
  <% @course.lectures.first(3).each do |l| %>
  <%= @incredible =111%>
    Lecture file:  <strong><%= l.file_name %></strong> was recorded by the user:  <strong><%= User.find_by(id: @course.lectures.first.user_id).full_name %></strong> and its download link is <%= link_to("HERE", "https://lecturistic.blob.core.windows.net/audiofiles/" + Lecture.find_by(id: l.user_id).file_name+".acc") %>
  <% end %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
